bcrypt==3.1.4
blinker==1.4
cffi==1.11.5
Click==7.0
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
gunicorn==19.9.0
itsdangerous==0.24
SQLAlchemy==1.2.1
Flask-SQLAlchemy==2.3.2
Flask-RESTful==0.3.6
Flask-Restless==0.17.0
Jinja2==2.10
MarkupSafe==1.0
numpy==1.15.2
pycparser==2.19
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
Werkzeug==0.14.1
